<% provide(:title, 'Assists') %>
<section id="admin" class="content content-min-height">
  <%= image_tag("dashboard.png", alt: "Runa", class: "main-logo") %>
  <h1 class="header-padding">Assists</h1>
  <div class="container margin-bottom">
    <%= link_to "â† Back", dashboard_users_path, class: "float-left" %>
  </div>
  <% if current_user.admin? %>
    <%= render 'assist_search_form' %>
  <% end %>
  <div class="container table-scroll">
    <table class="table">
      <% if current_user.user? %>
        <%= render 'user_assists' %>
      <% end %>
      <% if current_user.admin? %>
        <%= render 'admin_assists' %>
      <% end %>
    </table>
  </div>
</section>
